@import "tailwindcss";

@font-face {
  font-family: "biggerDisplay";
  src: url("/fonts/BiggerDisplay.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("/fonts/BarlowCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("/fonts/BarlowCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("/fonts/BarlowCondensed-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("/fonts/BarlowCondensed-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("/fonts/BarlowCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: var(--orange);
  --color-light-foreground: var(--light-foreground);
  --color-light-background: var(--light-background);
  
  --font-bigger-display: "biggerDisplay", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;

}

:root {
  --background: #131212;
  --foreground: #f2f2f2;
  --orange: #f93434;
  --light-foreground: #ffffffb3;
  --light-background: #0d0d0d;
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Barlow Condensed", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.font-bigger-display {
  font-family: "biggerDisplay", sans-serif !important;
}

.font-barlow-condensed {
  font-family: "Barlow Condensed", sans-serif !important;
}



.word,
.char,
.char-span {
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  text-transform: inherit !important;
}

/* Custom scrollbar and selection */
::selection {
  background: var(--orange);
  color: var(--foreground);
}

img {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
}
